@import "tailwindcss";

html, body {
  height: 100%;
  font-family: system-ui, sans-serif;
  color: #0f172a;
  scroll-behavior: smooth;
  background: linear-gradient(to bottom, #ffffff, #fff1f2, #ffffff);
}

/* optional: highlight color */
::selection {
  background-color: #f43f5e;
  color: #fff;
}
